.name {
    flex: 4 1 auto;
}

.xp {
    flex: 1 4 auto;
}

.level {
    flex: 1 4 auto;
}

.header {
    padding: 10px 20px 20px 20px;
}

.header label {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.portrait {
    width: 300px;
    height: 400px;
}

.portrait-form-group {
    width: 100%;
}